flows.json
[{"id":"47482395.c96c3c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"af4a56a6.7b13f8","type":"ui_form","z":"47482395.c96c3c","name":"","label":"","group":"6cffc318.0009fc","order":1,"width":0,"height":0,"options":[{"label":"Enter input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":200,"wires":[["cdfe4558.24d3e8"]]},{"id":"cdfe4558.24d3e8","type":"function","z":"47482395.c96c3c","name":"input parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["e313887c.6dd498","53e053de.4364cc"]]},{"id":"e313887c.6dd498","type":"ui_text","z":"47482395.c96c3c","group":"6cffc318.0009fc","order":2,"width":"4","height":"3","name":"","label":"user input","format":"{{msg.payload}}","layout":"row-spread","x":280,"y":300,"wires":[]},{"id":"53e053de.4364cc","type":"watson-conversation-v1","z":"47482395.c96c3c","name":"Bakers bot","workspaceid":"c459e05e-96e3-4507-912d-9ab4a552d7bd","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/36d1ce04-5ad6-4588-9820-367e5a33c81d","timeout":"","optout-learning":false,"x":430,"y":140,"wires":[["5b7121bb.f4a41","6f935768.5409d8"]]},{"id":"5b7121bb.f4a41","type":"debug","z":"47482395.c96c3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":220,"wires":[]},{"id":"6f935768.5409d8","type":"function","z":"47482395.c96c3c","name":"output parsing","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":60,"wires":[["751cc7d.8c8e238","4efb44e0.a338ac"]]},{"id":"751cc7d.8c8e238","type":"ui_text","z":"47482395.c96c3c","group":"6cffc318.0009fc","order":3,"width":0,"height":0,"name":"","label":"response","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":120,"wires":[]},{"id":"4efb44e0.a338ac","type":"ui_audio","z":"47482395.c96c3c","name":"","group":"6cffc318.0009fc","voice":"en-US","always":"","x":680,"y":180,"wires":[]},{"id":"6cffc318.0009fc","type":"ui_group","z":"","name":"UI","tab":"d368e9ee.9de6e8","order":1,"disp":true,"width":"8","collapse":false},{"id":"d368e9ee.9de6e8","type":"ui_tab","z":"","name":"chatot","icon":"dashboard","disabled":false,"hidden":false}]